<mat-toolbar>
    <span>
        <a mat-button routerLink="">
            <mat-icon>home</mat-icon> Home
        </a>
    </span>
    <span>
        <a mat-button routerLink="peliculas/filtros">
            <mat-icon>search</mat-icon> Buscar Peliculas
        </a>
    </span>
    <span>
        <a mat-button routerLink="/generos">
            <mat-icon>movie</mat-icon> Generos
        </a>
    </span>
    <span>
        <a mat-button routerLink="cines">
            <mat-icon>theaters</mat-icon> Cines
        </a>
    </span>
    <span>
        <a mat-button routerLink="actores">
            <mat-icon>person</mat-icon> Actores
        </a>
    </span>
    <span><a mat-button routerLink="/peliculas/crear">
        <mat-icon>videocam</mat-icon> Crear Pelicula
    </a></span>

    <span>
        <a mat-button routerLink="usuarios">
            <mat-icon>contacts_product</mat-icon>Usuarios
        </a>
    </span>
    
</mat-toolbar>



