<form [formGroup]="form" (submit)="guardarCambios()">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" [formControl]="form.controls.nombre">
        <mat-error>{{ getNombreError() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput type="text" [formControl]="form.controls.apellidos">
        <mat-error>{{ getApellidosError() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="form.controls.fechaNacimiento" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>{{ getFechaNacimientoError() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Sexo</mat-label>
        <mat-select [formControl]="form.controls.sexo">
            <mat-option value="">Selecciona una opcion</mat-option>
            <mat-option value="M">Masculino</mat-option>
            <mat-option value="F">Femenino</mat-option>
        </mat-select>
        <mat-error>{{ getSexoError() }}</mat-error>
    </mat-form-field>
    <div class="botones-form">
        <button [disabled]="form.invalid" mat-flat-button type="submit">Guardar</button>
        <a mat-stroked-button routerLink="/usuarios">Cancelar</a>
    </div>
</form>

