@use '@angular/material' as mat;

.primary {
    @include mat.theme (
        (
            color : mat.$azure-palette,
        )
    )
}

.secondary {
    @include mat.theme(
        (
            color: mat.$orange-palette,
        )
    )
}

.danger {
    @include mat.theme(
        (
            color: mat.$red-palette,
        )
    )
}
